.label,
.input {
  @apply cursor-pointer;
}

.label {
  @apply w-1/2;
}
.label > * {
  @apply pl-3 bg-white outline-none border-none focus:bg-slate-100 transition-all duration-300 rounded-t-lg;
}
.input {
  @apply border-b-2 border-opacity-60 w-2/3  focus:border-opacity-100 transition-all py-1 px-3 h-10;
}

.standard {
  background: none !important;
  outline: none;
}
.outlined {
  @apply outline outline-2 border-none rounded-lg;
  background: none !important;
}

.filled {
  outline: none !important  ;
}
